# B
_7 points_

Both training sets `1` and `2` were unbalanced. 

- What can you infer about the training set's imbalances?

You are free to use any technique to help you in your identification. Please indicate what exactly you did and explain your thinking. You are free to use any information available to you. This includes: 

- self trained models from previous excercises
- models you found online
- the MNIST dataset including labels

In [111]:
import tensorflow as tf
import keras
import numpy as np
import plotly.plotly as py
import plotly.graph_objs as go
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt

In [97]:
model1 = keras.models.load_model("model1.hdf5")
model2 = keras.models.load_model("model2.hdf5")
samples = np.load("samples.npy")

In [98]:
#MNIST Daten laden
from keras.datasets import mnist
(x_train, y_train), (x_test, y_test) = mnist.load_data()

# Dimensionen anpassen
x_train_reshaped = x_train.reshape((60000, 28*28))
x_train_reshaped[0].shape

(784,)

In [99]:
samples_reshaped = samples[:,:,:,0]
samples_reshaped = samples.reshape((100, 28*28))
samples_reshaped = samples_reshaped*255
samples_reshaped.shape

(100, 784)

In [100]:
#Indices speichern
samples_indices = []

for x in samples_reshaped:
    i = 0
    for y in x_train_reshaped:
        if np.array_equal(x,y):
            samples_indices.append(i)
        i = i + 1

In [101]:
labels = y_train[samples_indices]

In [102]:
labels

array([2, 2, 7, 7, 7, 9, 2, 3, 0, 7, 1, 8, 4, 7, 0, 1, 1, 1, 3, 6, 2, 5,
       0, 8, 2, 0, 9, 7, 1, 0, 5, 3, 6, 6, 7, 1, 1, 2, 8, 1, 1, 3, 8, 9,
       6, 2, 5, 8, 6, 1, 4, 8, 4, 5, 3, 2, 9, 7, 7, 3, 9, 7, 0, 6, 9, 4,
       1, 8, 1, 5, 2, 2, 2, 9, 7, 5, 6, 1, 0, 2, 6, 4, 1, 4, 7, 8, 8, 4,
       4, 9, 6, 7, 2, 6, 7, 8, 5, 9, 6, 6], dtype=uint8)

In [103]:
list1= model1.predict(samples)
list2= model2.predict(samples)

In [104]:
liste1 = np.argmax(list1 , axis=1)
liste2 = np.argmax(list2 , axis=1)

In [105]:
print(liste1)
print(liste2)
print(labels)

[2 2 7 7 7 9 2 3 4 7 1 8 4 7 3 1 1 1 3 6 2 9 4 8 2 7 9 9 1 9 3 3 6 6 7 1 1
 2 8 1 1 3 8 9 6 2 3 8 6 1 4 1 4 4 3 2 9 7 9 3 9 7 3 6 9 4 1 8 1 4 2 2 2 9
 7 8 6 1 3 2 6 9 1 4 7 9 8 4 4 9 6 9 2 6 7 8 4 9 6 1]
[2 2 7 7 7 9 0 0 0 7 1 8 9 7 0 1 1 1 2 6 2 5 0 8 2 0 5 5 1 0 5 7 6 6 7 1 1
 2 8 1 1 2 8 9 6 2 5 8 6 1 6 8 9 5 2 0 9 7 9 5 7 7 0 6 9 9 1 8 1 5 2 2 2 0
 7 5 6 1 0 7 6 9 1 9 7 8 8 5 6 9 6 7 2 6 7 8 5 9 6 6]
[2 2 7 7 7 9 2 3 0 7 1 8 4 7 0 1 1 1 3 6 2 5 0 8 2 0 9 7 1 0 5 3 6 6 7 1 1
 2 8 1 1 3 8 9 6 2 5 8 6 1 4 8 4 5 3 2 9 7 7 3 9 7 0 6 9 4 1 8 1 5 2 2 2 9
 7 5 6 1 0 2 6 4 1 4 7 8 8 4 4 9 6 7 2 6 7 8 5 9 6 6]

In [124]:
qualität = list()
for x in range(0, len(labels)):
    if labels[x] == liste1[x] and labels[x] != liste2[x]:
        qualität.append ("Model 1 Richtig")
        
    if labels[x] == liste2[x] and labels[x] != liste1[x]:
        qualität.append("Model 2 Richtig")
        
    if labels[x] == liste1[x] and labels[x] == liste2[x]:
        qualität.append("Model 1 & 2 Richtig")
        
    if labels[x] != liste1[x] and labels[x] != liste2[x]:
        qualität.append("Model 1 & 2 Falsch")

In [125]:
qualität

['Model 1 & 2 Richtig',
 'Model 1 & 2 Richtig',
 'Model 1 & 2 Richtig',
 'Model 1 & 2 Richtig',
 'Model 1 & 2 Richtig',
 'Model 1 & 2 Richtig',
 'Model 1 Richtig',
 'Model 1 Richtig',
 'Model 2 Richtig',
 'Model 1 & 2 Richtig',
 'Model 1 & 2 Richtig',
 'Model 1 & 2 Richtig',
 'Model 1 Richtig',
 'Model 1 & 2 Richtig',
 'Model 2 Richtig',
 'Model 1 & 2 Richtig',
 'Model 1 & 2 Richtig',
 'Model 1 & 2 Richtig',
 'Model 1 Richtig',
 'Model 1 & 2 Richtig',
 'Model 1 & 2 Richtig',
 'Model 2 Richtig',
 'Model 2 Richtig',
 'Model 1 & 2 Richtig',
 'Model 1 & 2 Richtig',
 'Model 2 Richtig',
 'Model 1 Richtig',
 'Model 1 & 2 Falsch',
 'Model 1 & 2 Richtig',
 'Model 2 Richtig',
 'Model 2 Richtig',
 'Model 1 Richtig',
 'Model 1 & 2 Richtig',
 'Model 1 & 2 Richtig',
 'Model 1 & 2 Richtig',
 'Model 1 & 2 Richtig',
 'Model 1 & 2 Richtig',
 'Model 1 & 2 Richtig',
 'Model 1 & 2 Richtig',
 'Model 1 & 2 Richtig',
 'Model 1 & 2 Richtig',
 'Model 1 Richtig',
 'Model 1 & 2 Richtig',
 'Model 1 & 2 Richtig',
 'Model 1 & 2 Richtig',
 'Model 1 & 2 Richtig',
 'Model 2 Richtig',
 'Model 1 & 2 Richtig',
 'Model 1 & 2 Richtig',
 'Model 1 & 2 Richtig',
 'Model 1 Richtig',
 'Model 2 Richtig',
 'Model 1 Richtig',
 'Model 2 Richtig',
 'Model 1 Richtig',
 'Model 1 Richtig',
 'Model 1 & 2 Richtig',
 'Model 1 & 2 Richtig',
 'Model 1 & 2 Falsch',
 'Model 1 Richtig',
 'Model 1 Richtig',
 'Model 1 & 2 Richtig',
 'Model 2 Richtig',
 'Model 1 & 2 Richtig',
 'Model 1 & 2 Richtig',
 'Model 1 Richtig',
 'Model 1 & 2 Richtig',
 'Model 1 & 2 Richtig',
 'Model 1 & 2 Richtig',
 'Model 2 Richtig',
 'Model 1 & 2 Richtig',
 'Model 1 & 2 Richtig',
 'Model 1 & 2 Richtig',
 'Model 1 Richtig',
 'Model 1 & 2 Richtig',
 'Model 2 Richtig',
 'Model 1 & 2 Richtig',
 'Model 1 & 2 Richtig',
 'Model 2 Richtig',
 'Model 1 Richtig',
 'Model 1 & 2 Richtig',
 'Model 1 & 2 Falsch',
 'Model 1 & 2 Richtig',
 'Model 1 Richtig',
 'Model 1 & 2 Richtig',
 'Model 2 Richtig',
 'Model 1 & 2 Richtig',
 'Model 1 Richtig',
 'Model 1 Richtig',
 'Model 1 & 2 Richtig',
 'Model 1 & 2 Richtig',
 'Model 2 Richtig',
 'Model 1 & 2 Richtig',
 'Model 1 & 2 Richtig',
 'Model 1 & 2 Richtig',
 'Model 1 & 2 Richtig',
 'Model 2 Richtig',
 'Model 1 & 2 Richtig',
 'Model 1 & 2 Richtig',
 'Model 2 Richtig']

In [126]:
len(qualität)

100

In [127]:
d = {'Model1': liste1, 'Model2': liste2,'Label': labels, 'Resultat':qualität}
df = pd.DataFrame(data=d)
df

    Label  Model1  Model2             Resultat
0       2       2       2  Model 1 & 2 Richtig
1       2       2       2  Model 1 & 2 Richtig
2       7       7       7  Model 1 & 2 Richtig
3       7       7       7  Model 1 & 2 Richtig
4       7       7       7  Model 1 & 2 Richtig
5       9       9       9  Model 1 & 2 Richtig
6       2       2       0      Model 1 Richtig
7       3       3       0      Model 1 Richtig
8       0       4       0      Model 2 Richtig
9       7       7       7  Model 1 & 2 Richtig
10      1       1       1  Model 1 & 2 Richtig
11      8       8       8  Model 1 & 2 Richtig
12      4       4       9      Model 1 Richtig
13      7       7       7  Model 1 & 2 Richtig
14      0       3       0      Model 2 Richtig
15      1       1       1  Model 1 & 2 Richtig
16      1       1       1  Model 1 & 2 Richtig
17      1       1       1  Model 1 & 2 Richtig
18      3       3       2      Model 1 Richtig
19      6       6       6  Model 1 & 2 Richtig
20      2       2       2  Model 1 & 2 Richtig
21      5       9       5      Model 2 Richtig
22      0       4       0      Model 2 Richtig
23      8       8       8  Model 1 & 2 Richtig
24      2       2       2  Model 1 & 2 Richtig
25      0       7       0      Model 2 Richtig
26      9       9       5      Model 1 Richtig
27      7       9       5   Model 1 & 2 Falsch
28      1       1       1  Model 1 & 2 Richtig
29      0       9       0      Model 2 Richtig
..    ...     ...     ...                  ...
70      2       2       2  Model 1 & 2 Richtig
71      2       2       2  Model 1 & 2 Richtig
72      2       2       2  Model 1 & 2 Richtig
73      9       9       0      Model 1 Richtig
74      7       7       7  Model 1 & 2 Richtig
75      5       8       5      Model 2 Richtig
76      6       6       6  Model 1 & 2 Richtig
77      1       1       1  Model 1 & 2 Richtig
78      0       3       0      Model 2 Richtig
79      2       2       7      Model 1 Richtig
80      6       6       6  Model 1 & 2 Richtig
81      4       9       9   Model 1 & 2 Falsch
82      1       1       1  Model 1 & 2 Richtig
83      4       4       9      Model 1 Richtig
84      7       7       7  Model 1 & 2 Richtig
85      8       9       8      Model 2 Richtig
86      8       8       8  Model 1 & 2 Richtig
87      4       4       5      Model 1 Richtig
88      4       4       6      Model 1 Richtig
89      9       9       9  Model 1 & 2 Richtig
90      6       6       6  Model 1 & 2 Richtig
91      7       9       7      Model 2 Richtig
92      2       2       2  Model 1 & 2 Richtig
93      6       6       6  Model 1 & 2 Richtig
94      7       7       7  Model 1 & 2 Richtig
95      8       8       8  Model 1 & 2 Richtig
96      5       4       5      Model 2 Richtig
97      9       9       9  Model 1 & 2 Richtig
98      6       6       6  Model 1 & 2 Richtig
99      6       1       6      Model 2 Richtig

[100 rows x 4 columns]

In [128]:
df.sort_values(by=['Label'])

    Label  Model1  Model2             Resultat
14      0       3       0      Model 2 Richtig
25      0       7       0      Model 2 Richtig
78      0       3       0      Model 2 Richtig
22      0       4       0      Model 2 Richtig
8       0       4       0      Model 2 Richtig
29      0       9       0      Model 2 Richtig
62      0       3       0      Model 2 Richtig
35      1       1       1  Model 1 & 2 Richtig
36      1       1       1  Model 1 & 2 Richtig
39      1       1       1  Model 1 & 2 Richtig
40      1       1       1  Model 1 & 2 Richtig
17      1       1       1  Model 1 & 2 Richtig
16      1       1       1  Model 1 & 2 Richtig
15      1       1       1  Model 1 & 2 Richtig
49      1       1       1  Model 1 & 2 Richtig
68      1       1       1  Model 1 & 2 Richtig
10      1       1       1  Model 1 & 2 Richtig
77      1       1       1  Model 1 & 2 Richtig
82      1       1       1  Model 1 & 2 Richtig
66      1       1       1  Model 1 & 2 Richtig
28      1       1       1  Model 1 & 2 Richtig
70      2       2       2  Model 1 & 2 Richtig
55      2       2       0      Model 1 Richtig
45      2       2       2  Model 1 & 2 Richtig
71      2       2       2  Model 1 & 2 Richtig
72      2       2       2  Model 1 & 2 Richtig
37      2       2       2  Model 1 & 2 Richtig
79      2       2       7      Model 1 Richtig
92      2       2       2  Model 1 & 2 Richtig
0       2       2       2  Model 1 & 2 Richtig
..    ...     ...     ...                  ...
84      7       7       7  Model 1 & 2 Richtig
2       7       7       7  Model 1 & 2 Richtig
3       7       7       7  Model 1 & 2 Richtig
4       7       7       7  Model 1 & 2 Richtig
61      7       7       7  Model 1 & 2 Richtig
13      7       7       7  Model 1 & 2 Richtig
9       7       7       7  Model 1 & 2 Richtig
58      7       9       9   Model 1 & 2 Falsch
27      7       9       5   Model 1 & 2 Falsch
57      7       7       7  Model 1 & 2 Richtig
74      7       7       7  Model 1 & 2 Richtig
47      8       8       8  Model 1 & 2 Richtig
95      8       8       8  Model 1 & 2 Richtig
23      8       8       8  Model 1 & 2 Richtig
86      8       8       8  Model 1 & 2 Richtig
38      8       8       8  Model 1 & 2 Richtig
67      8       8       8  Model 1 & 2 Richtig
42      8       8       8  Model 1 & 2 Richtig
11      8       8       8  Model 1 & 2 Richtig
51      8       1       8      Model 2 Richtig
85      8       9       8      Model 2 Richtig
89      9       9       9  Model 1 & 2 Richtig
26      9       9       5      Model 1 Richtig
56      9       9       9  Model 1 & 2 Richtig
43      9       9       9  Model 1 & 2 Richtig
60      9       9       7      Model 1 Richtig
5       9       9       9  Model 1 & 2 Richtig
73      9       9       0      Model 1 Richtig
97      9       9       9  Model 1 & 2 Richtig
64      9       9       9  Model 1 & 2 Richtig

[100 rows x 4 columns]

##### Hier sieht man schon am Anfang, dass Model 1 keine 0 kennt. Damit wurde Model 1 nicht mit 0 Trainiert

In [113]:
raw_data = {'Model': ['Model1', 'Model2', 'Keins'],
        '0': [4, 24, 31],
        '1': [4, 24, 31],
        '2': [4, 24, 31],
        '3': [4, 24, 31],
        '4': [4, 24, 31],
        '5': [4, 24, 31],
        '6': [4, 24, 31],
        '7': [4, 24, 31],
        '8': [4, 24, 31],
        '9': [4, 24, 31]          
           }
df = pd.DataFrame(raw_data, columns = ['Model', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9'])
df

    Model   0   1   2   3   4   5   6   7   8   9
0  Model1   4   4   4   4   4   4   4   4   4   4
1  Model2  24  24  24  24  24  24  24  24  24  24
2   Keins  31  31  31  31  31  31  31  31  31  31

In [49]:
print(len(liste1))

100

In [67]:
np.bincount(liste1)

array([ 0, 16, 13, 11, 12,  0, 11, 12,  9, 16], dtype=int64)